
.img-circle {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.buttonContainer {
  text-align: center;
  margin-top: 2em;
  display: block;
  margin: '0 auto';

}

.buttonContainer .button {
  display: inline-block;

}

.text {
  text-align: center;
  font-size: 2em;
  margin-top: 0.0em;
  font-family: 'Raleway', sans-serif;

}

