.welcome-text{
  text-align: center;
  font-size: 50px;
  margin-top: 140px;
  font-family: 'Raleway', sans-serif;
}

.facebook-button{
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
