.welcome-text{
  text-align: center;
  font-size: 50px;
  margin-top: 140px;
  font-family: 'Raleway', sans-serif;
}

.facebook-button{
  text-align: center;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
